<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh.mae.md2.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyPayments"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/main_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UnlockActivity"
            android:label="@string/unlock_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddTransactionActivity"
            android:label="@string/add_transaction_label"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".activities.AddTransactionAmountActivity"
            android:label="@string/add_transaction_amount_label"
            android:parentActivityName=".activities.AddTransactionActivity"
            android:theme="@style/AppTheme" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddTransactionActivity" />
        <activity
            android:name=".activities.CategoryOverviewActivity"
            android:label="@string/category_placeholer"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.CategoryPopupActivity"
            android:label="@string/app_name"
            android:theme="@style/popupAddCategory"/>
        <activity
            android:name=".activities.ChooseIconActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>